@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Press+Start+2P&family=Roboto+Slab:wght@100..900&display=swap");

* {
  font-family: "Outfit", sans-serif;
}

body {
  background: url("./assets/d.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  background-color: black;
}
